body {
  justify-content: center;
}

.table_head,
.table {
  width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.table td,
.table_head th,
table {
  border-collapse: collapse;
  text-align: center;
  border: 2px solid black;
  border-spacing: 0px;
}

.pagination {
  margin-left: 300px;
  /* margin-right: auto; */
}
